<div class="footer">
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/careers">Careers</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/terms-of-use">Terms</a></li>
  </ul>
  <ul class="menu">
    <li><a href="https://facebook.com/hartcodellc"><img src="images/facebook.png" width="32" height="32"/></a></li>
    <li><a href="https://twitter.com/hartcode"><img src="images/twitter.png" width="32" height="32"/></a></li>
  </ul>
</div>
</body>
</html>
