<div class="footer">
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/careers">Careers</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/terms-of-use">Terms</a></li>
  </ul>
  <ul class="menu">
    <li><a href="https://facebook.com/hartcodellc"><img name="facebook" width="32" height="32"/></a></li>
    <li><a href="https://twitter.com/hartcode"><img name="twitter" width="32" height="32"/></a></li>
    <li><a href="https://github.com/hartcode"><img name="githublight" width="32" height="32"/></a></li>
  </ul>
</div>
<script src="bundle.js"></script>
</body>
</html>
