<div class="header">
  <!-- bootstrap NavBar !-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="images/logo.png" />
        <div class="company-title">
          <h1>HartCode</h1>
          <h2>Game Studio</h2>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="menu-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if (typeof active == 'undefined') { active = "" } %>
          <li<% if (active == 'products') {%> <%='class=active'%> <% } %>><a href="/products">Products</a></li>
          <li<% if (active == 'hire') {%> <%='class=active'%> <% } %>><a href="/hire">Hire Us</a></li>
          <li<% if (active == 'about') {%> <%='class=active'%> <% } %>><a href="/about">About HartCode</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
