<div class="header">
  <img src="images/logo.png" />
  <h1>HartCode</h1>
  <h2>Game Studio</h2>
  <ul class="topmenu">
    <li><a href="/products">Products</a></li>
    <li><a href="/hire">Hire Us</a></li>
    <li><a href="/about">About HartCode</a></li>
  </ul>
</div>
