<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio - About Us</title>
</head>

<body>
  <%- include('partials/header', {active: active}); %> 
  <div class="body">
    <h3>About Us</h3>
    <p>
      Life Story Time
    </p>
  </div>
 <% include partials/footer %>
</body>

</html>
