<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio - Careers</title>
</head>

<body>
 <% include partials/header %>
  <div class="body">
    <h3>Careers</h3>
    <p>
      We aren't hiring at this time.
    </p>
  </div>
 <% include partials/footer %>
</body>

</html>
