<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio - Careers</title>
</head>

<body>
 <% include partials/header %>
  <div class="body">
    <h1>Careers</h1>
    <p style="text-align:center">
      We have no employment opportunities at this time.
    </p>
  </div>
 <% include partials/footer %>
</body>

</html>
