 <% include partials/header %>
  <div class="body">
    <h1><%= title %></h1>
    <p>
      Send us an email at <a href="mailto:contact@hartcode.com">contact@hartcode.com</a>.
    </p>
  </div>
 <% include partials/footer %>
