<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio - Hire Us</title>
</head>

<body class="hire">
 <% include partials/header %>
  <div class="body">
    <h1>Hire Us</h1>
    <p>
      We are always looking for more opportunities in the game development industry.
    </p>
    </p>
      We wear many hats are are available to Code, Create, Write, and Design anything you might need.
    </p>
    <p>
      Send us an email at <a href="mailto:contact@hartcode.com">contact@hartcode.com</a>.
    </p>
  </div>
 <% include partials/footer %>
</body>

</html>
