<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio - Hire Us</title>
</head>

<body>
 <% include partials/header %>
  <div class="body">
    <h3>Hire Us</h3>
    <p>
      Give Us Money
    </p>
  </div>
 <% include partials/footer %>
</body>

</html>
