 <% include partials/header %>
  <div class="body">
    <h1><%= title %></h1>
    <p>
      We are always looking for more opportunities in the game development industry.
    </p>
    </p>
      We wear many hats and are available to Code, Create, Write, or Design anything you might need.
    </p>
    <p>
      Send us an email at <a href="mailto:contact@hartcode.com">contact@hartcode.com</a>.
    </p>
  </div>
 <% include partials/footer %>
