<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio</title>
</head>

<body class="index">
 <% include partials/header %>
  <div class="body">
    <div>
    <div class='products'><a href="/products"><h1>Products</h1></a></div>
    <div class='hire'><a href="/hire"><h1>Hire us</h1></a></div>
  </div>
  </div>
 <% include partials/footer %>
</body>

</html>
