<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio - Privacy</title>
</head>

<body>
 <% include partials/header %>
  <div class="body">
    <h3>Privacy</h3>
    <p>
      We aren't going to sell your data.
    </p>
  </div>
 <% include partials/footer %>
</body>

</html>
