 <% include partials/header %>
  <div class="body">
    <h1><%= title %></h1>
    <p>
      We are currently working on our first title called "Well Wishing".
    </p>
    <h2>Well Wishing</h2>
    <p>
      Stay tuned for more updates.
    </p>
  </div>
 <% include partials/footer %>
