<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio - Products</title>
</head>

<body>
 <% include partials/header %>
  <div class="body">
    <h3>Products</h3>
    <p>
      Well Wishing
    </p>
  </div>
 <% include partials/footer %>
</body>

</html>
