<!DOCTYPE html>
<html>
<head>
 <% include partials/head %>
<title>HartCode Game Studio - Terms</title>
</head>

<body>
 <% include partials/header %>
  <div class="body">
    <h3>Terms</h3>
    <p>
      You can't use this site.
    </p>
  </div>
 <% include partials/footer %>
</body>

</html>
