.header h1 { display:inline; }
.header {background-color:black; color: white;}
ul.menu { list-style-type: none;}
ul.menu li { display: inline;}

body {background-color: black;}
.body {background-color: white;}

.footer {background-color: black; text-align: center;}
.menu { color: white;}
.menu a:hover {background-color: blue;}

h1 { text-align: center;}
.body { padding:30px; }
img { border-radius:50%;}
