.header h1 { display:inline; }
.header {background-color:black; color: white;}
ul.menu { list-style-type: none;}
ul.menu li { display: inline;}
ul {padding-left:0px;}

body {background-color: black;}
.body {background-color: white;}

.footer {background-color: black; margin-top:20px;}
.menu { color: white;}

.body { padding:30px; }
.footer img { border-radius:50%;}
.company-title {float:left; padding-top:40px;}
.company-title h2 {margin-top:0px}
.header img {float:left;}

.index .body .products {
  background-image: url('../images/products.png');
}

.index .body .hire {
  background-image: url('../images/hire.png');
}

.index .body .hire,.index .body .products {
  border-radius:25px;
  text-align:center;
  padding:100px;
  margin:10px;
}

.index .body > div {
  max-width:395px;
  margin-left: auto;
  margin-right: auto;}

.index .body h1 {color:white; font-size:300%; background-color: #3e5a70;}
.index .body a {text-decoration: none;}

.products .body, .hire .body, .about .body, .contact .body p, .careers .body p, h1, .footer {text-align:center;}

.about .body img {border-radius: 50%;}

li {padding-left:10px;padding-right:10px;}
.menu li a, .menu li a:hover { color: white;}

@media only screen and (max-device-width: 480px),only screen and (max-width: 480px) {
  body {
  			min-width: 416px;
            max-width: 480px;
  		}
}
