
H1 {
	PADDING-LEFT: 5px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: white; FONT-FAMILY: monospace; BACKGROUND-COLOR: #ababab
}
H2 {
	PADDING-LEFT: 15px
}
UL {
	LIST-STYLE-TYPE: none
}
#footer {
	BORDER-TOP: black 1px solid; PADDING-TOP: 5px
}
#newsdiv > UL {
	BORDER-TOP: black 1px solid; PADDING-TOP: 5px
}
#Other > #first {
	BORDER-TOP: black 1px solid; PADDING-TOP: 5px
}
#newsdiv > UL LI + LI {
	BORDER-TOP: black 1px solid; PADDING-TOP: 5px
}
P {
	TEXT-INDENT: 10px
}
FORM {
	TEXT-INDENT: 10px
}
#sidebar > UL LI A:visited {
	COLOR: black
}
#sidebar > UL LI A:link {
	COLOR: black
}
UL > DIV > P {
	COLOR: #ababab
}
#newsdiv > UL LI > DIV {
	COLOR: #ababab
}
#newsdiv > UL {
	OVERFLOW: hidden
}
#Other {
	OVERFLOW: hidden
}
#newsdiv > UL LI > DIV {
	TEXT-ALIGN: right
}
#footer {
	CLEAR: both
}
#footer UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#footer UL LI {
	FLOAT: left; WIDTH: 33%
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#sidebar {
	CLEAR: left; MIN-WIDTH: 100px; FLOAT: left
}
#main {
	OVERFLOW: hidden; BORDER-LEFT: black 1px solid;
	PADDING-BOTTOM:10px;
	
}
#sidebar > UL {
	MARGIN-LEFT: 0px
}
#sidebar > UL LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#home #homeli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd
}
#news #newsli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd
}
#passgen #passli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd
}
#vote #voteli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd
}
#wall #wallli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd
}
#adpanel {
	FLOAT: right; MARGIN: 10px; WIDTH: 120px; HEIGHT: 600px
}
.hidden {
	DISPLAY: none
}
#alphaoptions {
	TEXT-INDENT: 10px
}
#alphaoptions > DIV {
	TEXT-INDENT: 20px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#address {
	TEXT-ALIGN: left
}
.right {
	TEXT-ALIGN: right
}
.center {
	TEXT-ALIGN: center
}
#social {
	PADDING-RIGHT: 5px; BORDER-TOP: black 1px solid; MARGIN-TOP: 50px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#Services LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MIN-HEIGHT: auto; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px; WIDTH: 30%; PADDING-TOP: 5px; HEIGHT: 100%; BACKGROUND-COLOR: #cdcdcd
}
#Choices LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MIN-HEIGHT: auto; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px; HEIGHT: 100%; BACKGROUND-COLOR: #cdcdcd	
}
#Services LI P {
	BORDER-TOP: black 1px solid
}
#Other {
	MARGIN-BOTTOM: 10px
}
.newrow
{
	CLEAR: both;
}
#Other > P {
	CLEAR: both; PADDING-LEFT: 40px
}
A {
	TEXT-DECORATION: none
}
#Services LI H3 {
	COLOR: white; BACKGROUND-COLOR: gray; TEXT-ALIGN: center
}
#Choices LI H3 {
	COLOR: white; BACKGROUND-COLOR: gray; TEXT-ALIGN: center
}
#facebook {
	OVERFLOW: hidden; WIDTH: 80px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 21px; BORDER-BOTTOM-STYLE: none
}
#Choices LI P {
	TEXT-ALIGN: center;
	TEXT-INDENT: 0px
}
#HeadInner {
	 Height:3px;
	 MARGIN-LEFT: -5px;
	 MARGIN-RIGHT: 5px;
	 BACKGROUND-COLOR: gray
}

#HeadInner2 {
	 Height:3px;
	 MARGIN-LEFT: -2px;
	 BACKGROUND-COLOR: #cdcdcd
}

#HeadOuter {
	BACKGROUND-COLOR: #ababab;
	Padding-TOP: 5px;
}
