
H1 {
	PADDING-LEFT: 5px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: white; FONT-FAMILY: monospace; BACKGROUND-COLOR: #ababab;
	border-bottom-right-radius:10px;
}
H2 {
	PADDING-LEFT: 15px
}

UL {
	LIST-STYLE-TYPE: none;
	MARGIN-LEFT:1.4em;
}
#footer {
	BORDER-TOP: black 1px solid; PADDING-TOP: 5px
}
#newsdiv  LI {
	PADDING-LEFT:30px;
}
#newsdiv > UL {
	BORDER-TOP: black 1px solid; PADDING-TOP: 5px;
	MARGIN-LEFT: 0px;
	PADDING-LEFT: 0px;
}
#Other > #first ,#Choices > #first,#ChoicesResults > #first{
	BORDER-TOP: black 1px solid; PADDING-TOP: 5px;
}
#newsdiv > UL LI + LI {
	BORDER-TOP: black 1px solid; PADDING-TOP: 5px;
}
P {
	TEXT-INDENT: 10px
}
FORM {
	TEXT-INDENT: 10px
}
#sidebar > UL LI A:visited {
	COLOR: black
}
#sidebar > UL LI A:link {
	COLOR: black
}
UL > DIV > P {
	COLOR: #ababab
}
#newsdiv > UL LI > DIV {
	COLOR: #ababab
}
#newsdiv > UL {
	OVERFLOW: hidden
}
#Other {
	OVERFLOW: hidden
}
#newsdiv > UL LI > DIV {
	TEXT-ALIGN: right;
	WIDTH:100%;
}
#footer {
	CLEAR: both
}
#footer UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#footer UL LI {
	FLOAT: left; WIDTH: 33%
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#sidebar {
	MIN-WIDTH: 100px; 
	BORDER-RIGHT: black 1px solid;
    DISPLAY: table-cell;
}
#main {
	WIDTH: 100%;
	PADDING-BOTTOM: 10px;
	DISPLAY: table-cell;
}
#total {
	DISPLAY: table-row;
	}
#Services, #Services1 {
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 20px;
	DISPLAY: table;
	BORDER-SPACING: 5px;
}
#Services > DIV,#Services1 > DIV
{
 display: table-cell;	
 border:1px solid #FFFFFF;

}
#sidebar > UL {
	MARGIN-LEFT: 0px
}
#sidebar > UL LI A:HOVER {
	BACKGROUND-COLOR: #c0c0c0;
	COLOR:white;
	TEXT-DECORATION:underline;
}

A:HOVER {
	TEXT-DECORATION:underline;
}
#sidebar > UL LI A {
	Margin-left:-10px;
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 25px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 5px; TEXT-DECORATION: none;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;	
}
#home #homeli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd;

}
#news #newsli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd;
	
}
#passgen #passli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd;
}
#vote #voteli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd;

}
#wall #wallli {
	COLOR: white; BACKGROUND-COLOR: #cdcdcd;

}
#adpanel {
	PADDING-RIGHT: 5px; BORDER-TOP: black 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; TEXT-ALIGN: center
}

.hidden {
	DISPLAY: none
}
#alphaoptions {
	TEXT-INDENT: 10px
}
#alphaoptions > DIV {
	TEXT-INDENT: 20px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#address {
	TEXT-ALIGN: left
}
.right {
	TEXT-ALIGN: right
}
.center {
	TEXT-ALIGN: center
}
#social {
	BORDER-TOP: black 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
#Services DIV,#Services1 DIV {
	WIDTH: 30%;  BACKGROUND-COLOR: #cdcdcd;
	border-radius: 10px;
	PADDING: 10px;
}
#Choices LI, #ChoicesResults LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px;  FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px; HEIGHT: 100%; BACKGROUND-COLOR: #cdcdcd;
	border-radius: 10px;	
}
#Services DIV P,#Services1 DIV P {
	BORDER-TOP: black 1px solid
}
#Other {
	MARGIN-BOTTOM: 10px
}
#Services DIV.whitebackground,#Services1 DIV.whitebackground
{
	BACKGROUND-COLOR: white;
}
.newrow
{
	CLEAR: both;
}
#Other > P {
	CLEAR: both; PADDING-LEFT: 40px
}
A {
	TEXT-DECORATION: none
}
#Services DIV H3,#Services1 DIV H3 {
	COLOR: white; BACKGROUND-COLOR: gray; TEXT-ALIGN: center
}
#Choices LI H3 , #ChoicesResults LI H3 {
	COLOR: white; BACKGROUND-COLOR: gray; TEXT-ALIGN: center
}
#facebook {
	OVERFLOW: hidden; WIDTH: 80px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 21px; BORDER-BOTTOM-STYLE: none
}
#Choices LI P, #ChoicesResults LI P {
	TEXT-ALIGN: center;
	TEXT-INDENT: 0px
}
#Choices LI:HOVER{
	BACKGROUND-COLOR: #c0c0c0;
}
#HeadInner {
	 Height:3px;
	 MARGIN-LEFT: -5px;
	 MARGIN-RIGHT: 5px;
	 BACKGROUND-COLOR: gray
}

#HeadInner2 {
	 Height:3px;
	 MARGIN-LEFT: -2px;
	 BACKGROUND-COLOR: #cdcdcd
}

#HeadOuter {
	BACKGROUND-COLOR: #ababab;
	Padding-TOP: 5px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	
}

#Choices > H3,#ChoicesResults > H3 {
	PADDING-LEFT: 30px;
}
#Choices >p,#ChoicesResults >p
{
	PADDING-LEFT: 40px;
}
#Choices IMG, #ChoicesResults IMG
{
	border-radius: 10px;
	
}
#Choices H3 , #ChoicesResults H3
{
	border-radius: 10px;
}
#Services H3,#Services1 H3
{
	border-radius: 10px;
}

#wallpaper IMG
{
	border-radius: 10px;
}
#wallpaper
{
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #cdcdcd;
	PADDING: 20px;
	WIDTH:640px;
	border-radius: 10px;
}

#Choices #choice ,#ChoicesResults #choice
		{
		PADDING-LEFT:20px;
	PADDING-RIGHT:20px;
		width:580px;
		MARGIN-LEFT: auto;
		MARGIN-RIGHT: auto;
		}
#choice UL
{
	PADDING-LEFT:0px;
	}
#wallpaperout
{
	PADDING-LEFT:20px;
	PADDING-RIGHT: 20px;
	MARGIN-LEFT: auto;
		MARGIN-RIGHT: auto;
		width:680px;
		
}

#user-info
{
	Padding:5px;
	Background-COLOR:#3B5998;
	Color:#D8DFEA;
	font-weight: bold;
	font-size: 11px;
	font-family: "lucida grande",tahoma,verda;
	Margin-left:0px;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
}
#user-info:hover
{
	Background-COLOR:#526DA4;
	Color:white;
	
}

#user-info img
{
	width:25px;
	height:25px;
	margin-right: 5px;
}