h1{
	color:white;
	padding-left: 5px;
	background-color:#ABABAB;
	font-family:monospace;
	margin-bottom:0px;
}
h2{
	padding-left: 15px;
}

ul{
	list-style-type: none;
}
#footer,#main>ul li,#Other>ul{
	border-top:solid black 1px;
	padding-top:5px;
}
p,form{
	text-indent: 10px;
}

#sidebar>ul li a:visited,#sidebar>ul li a:link
{
	color:black;
}
ul>div>p,#main>ul li>div{
	color:#ABABAB;
}
#main>ul,#Other{
	overflow:hidden;
}
#main>ul li>div{
	text-align:right;
}
#footer{
	clear:both;
}

#footer ul{
	text-align:center;
	padding:0px;
	margin:0px;
}

#footer ul li {
	float:left;
	width:33%;
}

img {
	border-style:none;
}
#sidebar{
	float:left;
	clear:left;
}
#main{
	border-left:solid black 1px;
	overflow:hidden;
}
#sidebar>ul{
	margin-left:0px;
}

#sidebar>ul li a {
	font-weight:bold;
	display:block;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
}

#home #homeli,#news #newsli, #passgen #passli
{
	color:white;
	background-color:#CDCDCD;
}


#adpanel {
	width: 120px;
	height: 600px;
	float:right;
	margin: 10px;
}
.hidden 
{
	display:none;
}
#alphaoptions
{
	text-indent: 10px;	
}
#alphaoptions > div
{
	text-indent: 20px;	
}
fieldset {
	border: 0;
}

#address {
	text-align:left;
}
.right
{
	text-align:right;
}

.center
{
text-align:center;
}
.twitter
{
	border-top: solid black 1px;
	margin-top:50px;
	margin-left:15px; 
	margin-right:15px;
	padding:5px;
}