<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HartCode</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexPage</display-name>
    <servlet-name>IndexPage</servlet-name>
    <servlet-class>IndexPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsRSS</display-name>
    <servlet-name>NewsRSS</servlet-name>
    <servlet-class>NewsRSS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsRSS</servlet-name>
    <url-pattern>/rss.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZombonePage</display-name>
    <servlet-name>ZombonePage</servlet-name>
    <servlet-class>ZombonePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZombonePage</servlet-name>
    <url-pattern>/Zombone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyDropPage</display-name>
    <servlet-name>MoneyDropPage</servlet-name>
    <servlet-class>MoneyDropPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyDropPage</servlet-name>
    <url-pattern>/MoneyDrop</url-pattern>
  </servlet-mapping>
</web-app>