<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HartCode</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexPage</display-name>
    <servlet-name>IndexPage</servlet-name>
    <servlet-class>servlets.IndexPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RSSNewsPage</display-name>
    <servlet-name>RSSNewsPage</servlet-name>
    <servlet-class>servlets.RSSNewsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSSNewsPage</servlet-name>
    <url-pattern>/rss.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsPage</display-name>
    <servlet-name>NewsPage</servlet-name>
    <servlet-class>servlets.NewsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsPage</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassGenPage</display-name>
    <servlet-name>PassGenPage</servlet-name>
    <servlet-class>servlets.PassGenPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassGenPage</servlet-name>
    <url-pattern>/PasswordGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsPoster</display-name>
    <servlet-name>NewsPoster</servlet-name>
    <servlet-class>com.hartcode.servlets.NewsPoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsPoster</servlet-name>
    <url-pattern>/internal/NewsPoster</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Internal Application</web-resource-name>
      <url-pattern>/internal/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>internal-role</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Internal Application</realm-name>
  </login-config>
  <security-role>
    <description>
      The role that is required to log in to the Internal Application
    </description>
    <role-name>internal-role</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>PhotoADay</display-name>
    <servlet-name>PhotoADay</servlet-name>
    <servlet-class>servlets.PhotoADay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoADay</servlet-name>
    <url-pattern>/PhotoADay</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoVote</display-name>
    <servlet-name>PhotoVote</servlet-name>
    <servlet-class>servlets.PhotoVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoVote</servlet-name>
    <url-pattern>/photos/Vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>photoserver</display-name>
    <servlet-name>photoserver</servlet-name>
    <servlet-class>servlets.photoserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photoserver</servlet-name>
    <url-pattern>/photoserver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wallpaper</display-name>
    <servlet-name>Wallpaper</servlet-name>
    <servlet-class>servlets.Wallpaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wallpaper</servlet-name>
    <url-pattern>/Wallpaper</url-pattern>
  </servlet-mapping>
</web-app>