#sidebar {
    float: left;
}
#main {
	float: left;
	Width: AUTO;
	BORDER-LEFT: black 1px solid;
	Margin-left: -1px;
}
#Services > DIV,#Services1 > DIV
{
 float:left;
}

#newsdiv > UL 
{
	OVERFLOW: inherit;
	width: 100%;
}

H2
{
	MARGIN-TOP: 20px;	
}
UL
{
	MARGIN-TOP: 20px;	
}
UL LI
{
	MARGIN-LEFT:30px;	
}
#footer UL LI {
WIDTH: 30%
}
