<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HartCode</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexPage</display-name>
    <servlet-name>IndexPage</servlet-name>
    <servlet-class>com.hartcode.servlets.IndexPage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SiteMapPage</display-name>
    <servlet-name>SiteMapPage</servlet-name>
    <servlet-class>com.hartcode.servlets.SiteMapPage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteMapPage</servlet-name>
    <url-pattern>/sitemap.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MinecraftPage</display-name>
    <servlet-name>MinecraftPage</servlet-name>
    <servlet-class>com.hartcode.servlets.MinecraftPage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MinecraftPage</servlet-name>
    <url-pattern>/minecraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonFreeApp</display-name>
    <servlet-name>AmazonFreeApp</servlet-name>
    <servlet-class>com.hartcode.servlets.AmazonFreeAppXml</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonFreeApp</servlet-name>
    <url-pattern>/AmazonFreeApp.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RSSNewsPage</display-name>
    <servlet-name>RSSNewsPage</servlet-name>
    <servlet-class>com.hartcode.servlets.RSSNewsPage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSSNewsPage</servlet-name>
    <url-pattern>/rss.xml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsPage</display-name>
    <servlet-name>NewsPage</servlet-name>
    <servlet-class>com.hartcode.servlets.NewsPage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsPage</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassGenPage</display-name>
    <servlet-name>PassGenPage</servlet-name>
    <servlet-class>com.hartcode.servlets.PassGenPage</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassGenPage</servlet-name>
    <url-pattern>/PasswordGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsPoster</display-name>
    <servlet-name>NewsPoster</servlet-name>
    <servlet-class>com.hartcode.servlets.NewsPoster</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsPoster</servlet-name>
    <url-pattern>/internal/NewsPoster</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Internal Application</web-resource-name>
      <url-pattern>/internal/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>internal-role</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Internal Application</realm-name>
  </login-config>
  <security-role>
    <description>
      The role that is required to log in to the Internal Application
    </description>
    <role-name>internal-role</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>PhotoADay</display-name>
    <servlet-name>PhotoADay</servlet-name>
    <servlet-class>com.hartcode.servlets.PhotoADay</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoADay</servlet-name>
    <url-pattern>/PhotoADay</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoVote</display-name>
    <servlet-name>PhotoVote</servlet-name>
    <servlet-class>com.hartcode.servlets.PhotoVote</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoVote</servlet-name>
    <url-pattern>/wallpaper/vote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoVote2</display-name>
    <servlet-name>PhotoVote2</servlet-name>
    <servlet-class>com.hartcode.servlets.PhotoVote</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoVote2</servlet-name>
    <url-pattern>/wallpaper/vote/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>photoserver</display-name>
    <servlet-name>photoserver</servlet-name>
    <servlet-class>com.hartcode.servlets.photoserver</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>photoserver</servlet-name>
    <url-pattern>/photoserver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>photoserver</servlet-name>
    <url-pattern>/wallpaper/photoserver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wallpaper</display-name>
    <servlet-name>Wallpaper</servlet-name>
    <servlet-class>com.hartcode.servlets.Wallpaper</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wallpaper</servlet-name>
    <url-pattern>/wallpaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wallpaper2</display-name>
    <servlet-name>Wallpaper2</servlet-name>
    <servlet-class>com.hartcode.servlets.Wallpaper</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wallpaper2</servlet-name>
    <url-pattern>/wallpaper/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoVoteResults</display-name>
    <servlet-name>PhotoVoteResults</servlet-name>
    <servlet-class>com.hartcode.servlets.PhotoVoteResults</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoVoteResults</servlet-name>
    <url-pattern>/VoteResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoVoteResults2</display-name>
    <servlet-name>PhotoVoteResults2</servlet-name>
    <servlet-class>com.hartcode.servlets.PhotoVoteResults</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoVoteResults2</servlet-name>
    <url-pattern>/VoteResults/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoVoteResults2</servlet-name>
    <url-pattern>/wallpaper/voteresults/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoVoteResults2</servlet-name>
    <url-pattern>/wallpaper/voteresults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Yeast</display-name>
    <servlet-name>Yeast</servlet-name>
    <servlet-class>com.hartcode.servlets.Yeast</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Yeast</servlet-name>
    <url-pattern>/yeast</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YeastStrains</display-name>
    <servlet-name>YeastStrains</servlet-name>
    <servlet-class>com.hartcode.servlets.YeastStrains</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>YeastStrains</servlet-name>
    <url-pattern>/yeaststrains</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YeastCulturesByStrain</display-name>
    <servlet-name>YeastCulturesByStrain</servlet-name>
    <servlet-class>com.hartcode.servlets.YeastCulturesByStrain</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>YeastCulturesByStrain</servlet-name>
    <url-pattern>/yeastculturesbystrain</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>log4j-init</servlet-name>
    <servlet-class>com.hartcode.servlets.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>WEB-INF/conf/log4j.lcf</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>channel</display-name>
    <servlet-name>channel</servlet-name>
    <servlet-class>com.hartcode.servlets.channel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>channel</servlet-name>
    <url-pattern>/channel.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hartcode.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.hartcode.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>